<% include inc/header %>
<div class="page">
    <% include inc/navbar %>
    <div class="content">
        <div class="content-title">
            <h1>Notes</h1>
            <p>於我而言搭車過於浪費時間，經濟上考慮並不合算。經濟上考慮並不合算。經濟上考慮並不合算。可是畢竟是另一番經歷，是另一番體驗。</p>
        </div>
        <div class="content-body">
            <% articles.forEach(function (ar) { %>
            <div class="article-item">
                <h2><a href="articles/<%= ar.id %>.html"><%= ar.title %></a></h2>
                <p><%= ar.abstract %></p>
                <div class="article-item-footer">
                    <% ar.tags.forEach(function (tag) { %>
                    <a class='tag' target="_blank" href="<%=site.baseUrl%>/tag.html#<%= tag %>"><%= tag %></a>
                    <% }) %> |
                    <%= ar.author %> 发布于  <%= ar.postedOn %>
                </div>
            </div>
           <% }) %>
        </div>
        <div class="clear"></div>
        <script>
            document.title="168miles_notes";
        </script>
<% include inc/footer %>

