<% include inc/header %>

<div class="page">
    <% include inc/navbar %>
    <div class="content">
        <div class="content-title">
            <h1>Tags</h1>
        </div>
        <div class="content-body">
        <div class="tag-main">
            <div id="tag-main-container">
                <% tags.forEach(function (tag) { %>
                <a href="#<%= tag.label %>" tag-count="<%= tag.count%>"><%= tag.label %></a>
                <% }) %>
            </div>
        </div>
        <div class="tag-list">
            <% tags.forEach(function (tag) { %>
            <h3><a href="#<%= tag.label %>" style="color: #333333" name="<%= tag.label %>"><%= tag.label %></a></h3>
            <ul>
                <% tag.articles.forEach(function (ar) { %>
                <li><a href="<%= site.baseUrl%>/articles/<%= ar.id %>.html"><%= ar.title %></a></li>
                <% }) %>
            </ul>
            <% }) %>
        </div>
            </div>
        <div class="clear"></div>
        <script>
            document.title="168miles_tags";
        </script>
        <script src="<%= site.baseUrl%>/assets/vendor/3d_tags.js"></script>
<% include inc/footer %>
