<div class="footer">
    <%= site.copyright.endYear %>  &copy; <a href="http://168miles.com">wujn</a> All right reserved. build with <a href="https://github.com/ericzhang-cn/papery" target="_blank">papery</a>,host on <a href="https://pages.github.com/" target="_blank">github</a>
</div>
</div>
</div>
<% include footer_plugin %>
<script src="<%=site.baseUrl %>/assets/vendor/prism/prism.js"></script>
<script src="<%=site.baseUrl %>/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="<%=site.baseUrl %>/assets/themes/<%=site.theme%>/index.js"></script>
 </body>
 </html>