<div class="nav">
        <h1><%= site.title %></h1>
        <p>A place to record my fucking<br>life and dreams.</p>
        <p>(build on Sep 23th 2014)</p>
        <div class="item">
            <a href="<%=site.baseUrl%>/index.html" class="button">Home</a>
            <br>
            <a href="<%=site.baseUrl%>/list.html" class="button">Notes</a>
            <br>
            <a href="<%=site.baseUrl%>/tag.html" class="button">Tags</a>
            <br>
            <a href="<%=site.baseUrl%>/pages/about.html" class="button">About</a>
            <br>
            <a href="http://github.com/wjn161" target="_blank" class="button">GitHub</a>
        </div>
</div>